:root {
    --white-color: #fff;
    --text-color: #777;
    --header-height: 50px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.containter-center {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.text-center {
    text-align: center;
}

/* Button style */

.btn {
    min-width: 110px;
    height: 40px;
    font-size: 1.6rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: none;
    border: none;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: #ccc;
}

.btn-normal {
    cursor: pointer;
}
.btn-normal:hover {
    color: black;
    background-color: #ccc;
    transition-duration: 0.5s;
}

/* Input style*/

.input-normal {
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 10px;
    background-color: white;
    outline: turquoise;
}

.input-normal:focus {
    border-color: #ccc;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        margin-top: -50vh;
        transform: scale(var(--growth-from));
    }

    to {
        margin-top: 10vh;
        transform: scale(var(--growth-to));
    }
}

/* Modal css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn forwards 0.1s;
    z-index: 100;
    display: none;
}

.modal.open {
    display: unset;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50vh;
    z-index: 1;
    animation: growth forwards 1s;
}

